/* Untuk Tablet */
@media all and (max-width: 1000px){
.biodata-icon img {
	width: 50%;
}
}

/* Untuk Smartphone */
@media all and (max-width: 670px){
.header-right{
	display: none;
}
.biodata-icon img {
	width: 100%;
}
}
